<h1><%= @genre.name %></h1>

<table class="index">
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>

  <% @genre.books.each do |b| %>
    <tr>
    <td><%= link_to b.title, book_path(b.id) %></td>
    <td><% b.authors.each do |a| %>
          <%= a.name %>
        <% end %>
    </td>
    </tr>
  <% end %>
</table>