<h1>About LibCat</h1>

<p>This is a project of love, custom built for GayCity's library, by <a href="https://github.com/cherimarie" alt="Cheri Allen's Github page">Cheri Allen</a>, <a href="https://github.com/forplayplay" alt="Patrick Dent's Github page">Patrick Dent</a>, and <a href="https://github.com/eak000" alt="Emily Kelton's Github page">Emily Kelton</a>. Cheri has been a volunteer with Gay City's library since 2010, and knows firsthand how hard it is to find library management software that a small nonprofit library can afford. When it was time for Gay City to find new software, she found nothing suitable, so decided to build her own! </p>

<p>LibCat is open source, licensed under the <a href="https://en.wikipedia.org/wiki/MIT_License" alt="about MIT License">MIT license</a>. It's <a href="https://github.com/cherimarie/LibraryCollection" alt="LibCat source code">source code</a> can be found on Github. Pull requests and feature requests are welcome!</p>

<p>If your library would like to use LibCat, but need some help setting it up, contact the Adorable Dragon team and we'll be happy to help you out. We have several support packages available, at reasonable rates. We'd love to help your library succeed!</p>

