<h1>Admin Dashboard</h1>

<div class="show">
  <p>There will be more things you can do here someday, but right now your only choices are: </p>
  <ul>
    <li><%= link_to "Upload Books", new_book_import_path %></li>
    <li><%= link_to "Browse All Books", books_path %></li>
    <li><%= link_to "Manage Genres", new_genre_path %></li>
  </ul>
</div>