<h1> Welcome to the Library</h1>

<div id="main_content">
  <p>Here's some informational text.</p>
</div>

<h3>Search the Collection</h3>
<!-- search box w/ go button -->

<h3>Browse the Collection</h3>
<%= link_to "Browse by Genre", genres_path %>
<%= link_to "Browse by Author", authors_path %>