<p>The Michael C. Weidemann LGBT Library is housed at: <br>
<span>Gay City<br>
517 E. Pike St.<br>
Seattle, WA 98122<br></span></p>

<p><span>resources@gaycity.org<br>
206-323-5428</span>
</p>

<p>Hours of Operation:<br>
<span>Monday – Friday: 11am – 8pm<br>
Saturday: 11am – 5pm</span></p>

<p>The Michael C. Weidemann LGBT Library at Gay City is a collection of over 7,000 books that cover a range of LGBT topics. Books, CDs and DVDs are donated by community members, and can be checked out or free with a photo ID by community members who live in WA State. The library is staffed by volunteers, who are available for everything from answering a simple resource question to helping you pick out just the right book to read.</p>

<p>For even more information about our books (including reviews from our Volunteer Librarians and patrons like you!), you can also browse our collection on <a href="http://www.librarything.com/catalog/GayCityLGBTLibrary" alt="Gay City info at Library Thing" target="blank">LibraryThing</a> or <a href="https://www.goodreads.com/user/show/4689433-gay-city-lgbt-library" alt="Gay Citys Goodreads info" target="blank">GoodReads</a>.</p>
