<div style="border: 1px dashed black; padding: 1em">
	<p>font-family: font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif; </p>
	<p>font-weight: bold; </p>
</div>
<div style="border: 1px dashed black; padding: 1em">
	<h1>h1:</h1>
	<p>color: #9C9C9C;
			font-size: 4.5em;
			text-align: center;</p>
</div>
<div style="border: 1px dashed black; padding: 1em">
 <h2>h2:</h2>
 <p>font-size: 2.5em; color: #999999;</p>
</div>
<div style="border: 1px dashed black; padding: 1em">
	<h3>h3:</h3>
</div>
<div style="border: 1px dashed black; padding: 1em">	
	<span class="btn">.btn</span>
	<p>font-size: 1.5em; background: none; border: none;</p>
	<span class="btn">.btn:hover, .btn2:hover, a:hover </span>
	<p>color: #95CB15; border-bottom: 1px solid black;</p>
</div>
<div style="border: 1px dashed black; padding: 1em">	
	<%= select_tag "example", options_from_collection_for_select(Genre.all, "id", "name"), class: "chosen-select" %>
	<p>Cool "Chosen" jquery plugin for selects</p>
</div>
