/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 5, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/books.css.scss */
.book_edit {
  padding: .75em .75em 3em .75em;
  border: 3px #FAC0FA solid;
  border-radius: 25px;
}
body {
  color: #000000;
  font-family: Roboto, sans-serif; }

nav {
  background-color: black;
  font-weight: bold;
  color: #ffffff;
  height: 30px; }
/* line 1, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
body {
  color: #000000;
  font-family: Roboto, sans-serif;
  margin: 0, 15%;
  text-decoration: none;
}

/* line 8, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav {
  background-color: black;
  font-weight: bold;
  color: #ffffff;
  height: 30px;
  padding: 1em;
  margin: 0px, 0px;
}

/* line 17, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav a {
  color: white;
}

/* line 21, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.btn {
  width: 75px;
  height: 35px;
  background-color: #F6A450;
  color: #ffffff;
  font-size: 1em;
  font-variant: small-caps;
  border: 1px black solid;
}

/* line 31, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.btn2 {
  padding: 0.5em;
  background-color: #F6A450;
  color: #ffffff;
  font-size: 1em;
  font-variant: small-caps;
  border: 1px black solid;
}

/* line 40, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
#main_content {
  margin: 2% 4%;
}

/* line 44, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.index {
  width: 80%;
  margin: auto;
}

/* line 48, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.index td, .books_index th {
  padding: .75em;
}

/* line 52, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.index tr:nth-child(2n) {
  background-color: #FAC0FA;
}

/* line 56, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.right {
  float: right;
  margin-right: 5%;
}

/* line 59, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
a {
  text-decoration: none;
  color: #1A7091;
}

/* line 62, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
a:hover {
  text-shadow: 1px 1px 2px #B1FAF9;
}

/* line 64, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav a:hover {
  text-shadow: 2px 2px 2px #B1FAF9;
}

/* line 66, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.btn2 a:hover, .btn a:hover {
  text-shadow: 2px 2px 2px gray;
}

/* line 68, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.show {
  padding: .75em;
  border: 3px #FAC0FA solid;
  border-radius: 25px;
}
