/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */

/*************
Metro Dark Theme
*************/
/* overall */

.tablesorter-metro-dark {
	width: 100%;
	font: 12px/18px 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #333;
	border-spacing: 0;
	margin: 10px 0 15px;
	text-align: left;
}

.tablesorter-metro-dark tr.dark-row th, .tablesorter-metro-dark tr.dark-row td, .tablesorter-metro-dark caption.dark-row {
	background-color: #222;
	color: #fff;
	padding: 2px;
	text-align: left;
	font-size: 14px;
}

/* header/footer */
.tablesorter-metro-dark caption,
.tablesorter-metro-dark th,
.tablesorter-metro-dark thead td,
.tablesorter-metro-dark tfoot th,
.tablesorter-metro-dark tfoot td {
	font-weight: 300;
	font-size: 15px;
	color: #ddd;
	background-color: #333;
	padding: 4px;
}

.tablesorter-metro-dark .header,
.tablesorter-metro-dark .tablesorter-header {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAGFBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u5jNePWAAAACHRSTlMAMxIHKwEgMWD59H4AAABSSURBVAjXY2BgYFJgAAHzYhDJ6igSAKTYBAUTgJSioKAQAwNzoaCguAFDiCAQuDIkgigxBgiA8cJAVCpQt6AgSL+JoKAzA0gjUBsQqBcBCYhFAAE/CV4zeSzxAAAAAElFTkSuQmCC);
	background-position: right 5px center;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
}
.tablesorter-metro-dark .tablesorter-header-inner {
	padding: 0 18px 0 4px;
}
.tablesorter-metro-dark thead .headerSortUp,
.tablesorter-metro-dark thead .tablesorter-headerSortUp,
.tablesorter-metro-dark thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAIVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u5meJAOAAAACnRSTlMAMwsqXt+gIBUGxGoDMAAAAFlJREFUCNctzC0SQAAUReEzGNQ3AlHRiSRZFCVZYgeswRL8hLdK7834wj3tAlGP6y7fYHpKS6w6WwbVG0I1NZVnZPG8/DYxOYlnhUYkA06R1s9ESsxR4NIdPhkPFDFYuEnMAAAAAElFTkSuQmCC);
}
.tablesorter-metro-dark thead .headerSortDown,
.tablesorter-metro-dark thead .tablesorter-headerSortDown,
.tablesorter-metro-dark thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAALVBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7i0NViAAAADnRSTlMAMiweCQITTvDctZZqaTlM310AAABcSURBVAjXY2BgYEtgAAFHERDJqigUAKSYBQUNgFSioKAYAwOLIBA4MASBKFUGQxAlzAAF+94BwWuGKBC1lIFl3rt3Lx0YGCzevWsGSjK9e6cAUlT3HKyW9wADAwDRrBiDy6bKzwAAAABJRU5ErkJggg==);
}
.tablesorter-metro-dark thead .sorter-false {
	background-image: none;
	cursor: default;
	padding: 4px;
}

/* tbody */
.tablesorter-metro-dark td {
	background-color: #fff;
	padding: 4px;
	vertical-align: top;
}

/* hovered row colors */
.tablesorter-metro-dark tbody > tr:hover > td,
.tablesorter-metro-dark tbody > tr.even:hover > td,
.tablesorter-metro-dark tbody > tr.odd:hover > td {
	background: #bbb;
	color: #000;
}

/* table processing indicator */
.tablesorter-metro-dark .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(../addons/pager/icons/loading.gif) !important; */
	background-image: url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=) !important;
}

/* pager */
.tablesorter-metro-dark .tablesorter-pager button {
	background-color: #444;
	color: #eee;
	border: #555 1px solid;
	cursor: pointer;
}
.tablesorter-metro-dark .tablesorter-pager button:hover {
	background-color: #555;
}

/* Zebra Widget - row alternating colors */
.tablesorter-metro-dark tr.odd > td {
	background-color: #eee;
}
.tablesorter-metro-dark tr.even > td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
.tablesorter-metro-dark tr.odd td.primary {
	background-color: #bfbfbf;
}
.tablesorter-metro-dark td.primary,
.tablesorter-metro-dark tr.even td.primary {
	background-color: #d9d9d9;
}
.tablesorter-metro-dark tr.odd td.secondary {
	background-color: #d9d9d9;
}
.tablesorter-metro-dark td.secondary,
.tablesorter-metro-dark tr.even td.secondary {
	background-color: #e6e6e6;
}
.tablesorter-metro-dark tr.odd td.tertiary {
	background-color: #e6e6e6;
}
.tablesorter-metro-dark td.tertiary,
.tablesorter-metro-dark tr.even td.tertiary {
	background-color: #f2f2f2;
}

/* filter widget */
.tablesorter-metro-dark .tablesorter-filter-row td {
	background: #eee;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-metro-dark .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-metro-dark .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-metro-dark .tablesorter-filter-row.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}
/* filters */
.tablesorter-metro-dark .tablesorter-filter {
	width: 95%;
	height: auto;
	margin: 4px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
/* line 13, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/alerts.scss */
.error {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: .5em;
  margin: .25em;
  z-index: 500;
  width: 50%;
  float: right;
  text-align: center;
}

/* line 24, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/alerts.scss */
.notice {
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  border: 2px solid rgba(255, 0, 0, 0.9);
  border-radius: 10px;
  padding: .5em;
  margin: .25em;
  z-index: 500;
  width: 50%;
  float: right;
  text-align: center;
}
/* line 5, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/books.css.scss */
.book_edit {
  padding: .75em .75em 3em .75em;
}
/* line 2, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user form {
  margin-top: 3em;
}

/* line 6, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user input {
  padding: 3px;
  margin: 1%;
  display: inline-block;
  float: left;
  vertical-align: baseline;
}

/* line 15, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user {
  margin-top: 3em;
}

/* line 19, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user input[type=submit] {
  margin-bottom: 7em;
}

/* line 24, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user label {
  font-size: .9em;
  display: inline-block;
  float: left;
  clear: left;
  width: 175px;
  text-align: right;
  vertical-align: baseline;
  padding: 3px;
  margin: 1% 0;
}

/* line 36, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.edit_user i {
  font-size: .7em;
  vertical-align: sub;
}

/* line 41, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/forms.scss */
.left form label {
  visibility: hidden;
}
/* line 4, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif;
  font-weight: bold;
}

/* line 12, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 19, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/*clearfix*/
/* line 37, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 43, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
[class*='column-'] {
  float: left;
  padding-right: .5em;
  width: 100%;
  min-height: 1px;
  height: 100%;
}

/*removes padding from far right column*/
/* line 52, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
[class*='column-']:last-of-type {
  padding-right: 0;
}

/* line 56, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
.main {
  height: 100%;
  padding-top: 2em;
}

/*optional outside gutters*/
/*add padding to grid parent*/
/* line 63, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
.grid-pad {
  padding: .5em 0 .5em .5em;
}

/*restore right padding to last column*/
/* line 68, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
.grid-pad > [class*='column-']:last-of-type {
  padding-right: .5em;
}

/*will have columns on screens larger than 30ems*/
@media only screen and (min-width: 30em) {
  /* line 74, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .wrapper {
    width: 100%;
    max-width: 1500px;
    height: 100%;
  }

  /* line 80, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-1 {
    width: 8.56%;
  }

  /* line 84, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-2 {
    width: 18.72%;
  }

  /* line 88, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-3 {
    width: 28.88%;
  }

  /* line 92, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-4 {
    width: 39.04%;
  }

  /* line 96, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-5 {
    width: 49.2%;
  }

  /* line 100, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-6 {
    width: 59.36%;
  }

  /* line 104, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-7 {
    width: 69.52%;
  }

  /* line 108, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-8 {
    width: 79.68%;
  }

  /* line 111, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-9 {
    width: 89.84%;
  }

  /* line 114, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/grid.scss */
  .column-10 {
    width: 100%;
  }
}
/* line 7, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.search {
  margin: 40px 0 10px 45px;
}

/* line 10, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.browse {
  margin: 40px 0 10px 45px;
}

/* line 14, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
#browse h3 {
  color: #00364A;
  margin: 2% 4%;
}

/* line 19, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.search .btn {
  text-transform: uppercase;
  background-color: #1764A8;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .7em;
  padding: 5px 15px;
  border: none;
}

/* line 29, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.search .btn:hover {
  color: #95CB15;
}

/* line 33, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.btn:hover, .btn2:hover {
  color: #95CB15;
}

/* line 37, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.btn:visited {
  color: #FFFFFF;
}

/* line 42, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/search.css.scss */
.browse .btn:visited {
  color: #FFFFFF;
}
/*page styles*/
/* line 5, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.gray {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: #D6D6D6;
}

/* line 12, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

/* line 18, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
h1 {
  color: #9C9C9C;
  font-size: 4.5em;
  text-align: center;
}

/* line 24, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav {
  float: left;
  width: 100%;
  position: relative;
}

/* line 30, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
ul {
  clear: left;
  float: left;
  list-style: none;
  position: relative;
  left: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 42, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav li {
  display: block;
  float: left;
  position: relative;
  right: 50%;
  font-size: .8em;
  padding-left: .75em;
  padding-top: .75em;
  font-weight: 500;
}

/* line 53, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav li:first-of-type {
  padding-left: 0;
}

/* line 57, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav li > a:hover {
  color: orange;
}

/* line 61, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
nav span {
  color: white;
}

/* line 65, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.main article {
  margin: 5em 6em;
  height: 100%;
}

/* line 70, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.main p {
  margin: 1em 0;
  font-weight: normal;
}

/*left side area styles*/
/* line 77, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.left {
  margin-top: 12em;
  text-align: right;
}

/* line 82, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.left h2 {
  font-size: 2.5em;
}

/* line 86, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.left form {
  padding-bottom: 3em;
}

/* line 90, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
input {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif;
  font-weight: bold;
}

/* line 95, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
input[type="submit"] {
  font-size: 2.5em;
  font-weight: bold;
  background: none;
  border: none;
  text-align: right;
}

/* line 103, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
input[type="text"] {
  width: 7em;
  height: 2em;
  /*padding: 1em;*/
  border: 1px solid black;
  text-align: right;
}

/* line 111, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
input[placeholder] {
  font-size: 1.5em;
  color: gray;
  padding-right: .5em;
}

/* line 117, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.vertical {
  font-size: 6em;
  color: #E8E8E8;
}

/* line 123, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
span.vertical {
  display: inline-block;
  position: relative;
  margin-top: 1.25em;
  margin-left: -.75em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 135, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/shared.css.scss */
.right {
  float: right;
  margin-right: 5%;
}
/* line 2, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/tables.scss */
.index {
  width: 80%;
  margin: 2.5em auto;
  padding-top: 2%;
}

/* line 7, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/tables.scss */
.index td, .books_index th {
  padding: .75em;
}

/* line 11, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/tables.scss */
.index tr:nth-child(2n) {
  background-color: #cccccc;
}
/* line 6, /Users/Gargantua/Worky/LibraryCollection/app/assets/stylesheets/users.css.scss */
.show {
  padding: .75em;
  margin-top: 3.0em;
  width: 85%;
}
