<h2>Author: <%= @author.name %></h2>

<% if admin_user? %>
  <%= link_to "Edit Author", edit_author_path(@author), class: "meh-btn right"  %>
  <%= link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Are you sure you want to delete this author?"}, class: "danger-btn right" %>
<% end %>

<div id="sortable-table"><%= render 'show_table' %></div>