<h1>All Books</h1>

<table class="index">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Author(s)</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
    <td> <%= link_to b.title, book_path(b.id) %></td>
    <td> <%= b.genre.name if b.genre %> </td>
    <td>
      <% b.authors.each do |a| %>
        <%= a.name %>
      <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>