<h2>Selected Books</h2>
<!-- TODO: <button>Print this list!</button>
 <button>Print labels for these books!</button>-->

<table class="index tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author(s)</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
      <td>
        <%=  check_box_tag :selected, b.id, b.selected, id: "book-select_#{b.id}"  %>
        <%= link_to b.title, book_path(b.id) %></td>
      <td> 
      <% if b.genre %> 
        <%= link_to b.genre.name, genre_path(b.genre) %> 
      <% end %> 
      </td>
      <td>
        <% b.authors.each do |a| %>
          <%= link_to a.name, author_path(a) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>