<h2>Loans</h2>

<table class="index tablesorter">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |l| %>
    <tr>
      <td><%= link_to l.book.title, book_path(l.book.id) %></td>
      <td><%= link_to l.user.name, user_path(l.user.id) %></td>
      <td> <%= link_to 'view', loan_path(l.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>