<h2>Overdue Loans</h2>
<%= button_to "Send Overdue Reminders", send_reminders_path %>
<p>Reminders last sent on <%= OverdueMailer.last_sent.strftime("%m/%d/%Y") %></p>

<div id="sortable-table"><%= render 'overdue_table' %></div>