<h2>Hello Library patron!</h2>

<p>This is a one time email to let you know some important information regarding your Library Patron account with us.  As of today we have switched over to a new catalog system. The new system will allow you to search our collection, view your account info, and see your loan history/current loans/overdue books by logging in from any internet browser, anywhere in the world!</p>


<p>We have set up an account for you already in the new system using your existing account data.  All you need to do is log in using your email address and the generic password of "password".  Then change your password to something easy for you to remember.</p>

<h3>Thanks for using our library!</h3>