<h1>Keywords</h1>

<table class="index">
  <thead>
    <tr>
      <th>Keyword</th>
      <th>Number of Books</th>
    </tr>
  </thead>
  <tbody>
    <% @keyword.each do |k| %>
    <tr>
    <td> <%= link_to k.name, keyword_path(k.id) %></td>
    <td><%= k.books.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>