@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

@mixin flash-message($color) {
  color: $color;
  border: 2px solid $color;
  padding: .5rem;
  margin: .25rem .25rem 2rem;
  z-index: 500;
  width: 80%;
  float: right;
  text-align: center;
}

@mixin big_button($light, $med, $dark) {
  background: $med ;
  background-image: -webkit-linear-gradient(top, $med , $dark);
  background-image: -moz-linear-gradient(top, $med , $dark);
  background-image: -ms-linear-gradient(top, $med , $dark);
  background-image: -o-linear-gradient(top, $med , $dark);
  background-image: linear-gradient(to bottom, $med , $dark);
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0.25rem;
  border: 1px solid $med;
  &:hover {
    background: $light;
    background-image: -webkit-linear-gradient(top, $light, $med );
    background-image: -moz-linear-gradient(top, $light, $med );
    background-image: -ms-linear-gradient(top, $light, $med );
    background-image: -o-linear-gradient(top, $light, $med );
    background-image: linear-gradient(to bottom, $light, $med );
    text-decoration: none;
    color: white;
    border: 1px solid $light;
  }
}

@mixin little_button($light, $med, $dark) {
  background: $med ;
  background-image: -webkit-linear-gradient(top, $med , $dark);
  background-image: -moz-linear-gradient(top, $med , $dark);
  background-image: -ms-linear-gradient(top, $med , $dark);
  background-image: -o-linear-gradient(top, $med , $dark);
  background-image: linear-gradient(to bottom, $med , $dark);
  color: black;
  font-size: 1rem;
  padding: .5rem 1rem .5rem 1rem;
  text-decoration: none;
  margin: 0.25rem;
  border: 1px solid $med;
  &:hover {
    background: $light;
    background-image: -webkit-linear-gradient(top, $light, $med );
    background-image: -moz-linear-gradient(top, $light, $med );
    background-image: -ms-linear-gradient(top, $light, $med );
    background-image: -o-linear-gradient(top, $light, $med );
    background-image: linear-gradient(to bottom, $light, $med );
    text-decoration: none;
    color: white;
    border: 1px solid $light;
  }
}