@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

@mixin flash-message($color) {
  color: $color;
  border: 2px solid $color;
  padding: .5rem;
  margin: .25rem .25rem 2rem;
  z-index: 500;
  width: 80%;
  float: right;
  text-align: center;
}

@mixin little_button($med, $dark) {
  background: $med ;
  color: black;
  font-size: 1rem;
  padding: .35rem 1rem .35rem 1rem;
  text-decoration: none;
  margin: 0.25rem;
  border: 1px solid $med;
  border-radius: 6px;
  display: inline-block;
  &:hover {
    background: $dark;
    text-decoration: none;
    color: white;
    border: 1px solid $black;
  }
}