
// #headerbar {
// 	position: absolute;
// 	left: 0;
// 	top: 38px;
// 	width: 100%;
// 	height: 11%;
// 	background-color: #f48b1f;
// 	border-bottom: 5px #95CB15 solid;
// }


.error {background-color: rgba(0, 0, 0, 0.3);
				color: rgba(0, 0, 0, 1);
				border: 2px solid rgba(0, 0, 0, 0.9);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 50%;
				float: right;
				text-align: center;}

.notice {background-color: rgba(255, 0, 0, 0.3);
				color: rgba(255, 0, 0, 1);
				border: 2px solid rgba(255, 0, 0, 0.9);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 50%;
				float: right;
				text-align: center;}
