.error{
	@include flash-message($error);
}

.alert {
	@include flash-message($orange);
  &.inventory{
    border: none;
    height: 1.25rem;
    width: 70%;
    float: left;
  }
}

.notice {
	@include flash-message($green);
}

.tooltip{
  display: inline;
  position: relative;
  z-index: 600;
}

a[title]:hover:after{
  font-size: .35em;
  font-weight: normal;
}

.tooltip:hover:after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 25px;
  color: #fff;
  content: attr(title);
  left: 25%;
  padding: .5em .7em;
  position: absolute;
  z-index: 600 !important;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 40%;
  position: absolute;
  z-index: 99;
}