.error, .alert {background-color: hsla(28, 100%, 44%, 0.4);
				color: hsla(28, 100%, 44%, 1);
				border: 2px solid hsla(28, 100%, 44%, 1);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 50%;
				float: right;
				text-align: center;}

.notice {background-color: hsla(190, 100%, 44%, 0.4);
				color: hsla(190, 100%, 44%, 1);
				border: 2px solid hsla(190, 100%, 44%, 1);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 50%;
				float: right;
				text-align: center;}
