



.error, .alert {
				color: hsla(13, 100%, 34%, 1);
				border: 2px solid hsla(13, 100%, 34%, 0.9);
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 60%;
				float: right;
				text-align: center;
			}


.notice {
				// background-color: hsla(33, 100%, 43%, 0.4);
				color: hsla(33, 100%, 43%, 1);
				border: 2px solid hsla(33, 100%, 43%, 1);
				// border-radius: 10px;
				padding: .5em; 
				margin: .25em;
				z-index: 500;
				width: 60%;
				float: right;
				text-align: center;
			}
