.book_edit {
    padding: 2em;
		margin: 1em 0 0 0;
    border: 1px black solid; 
    background-color: #F5F5F5;
    }

.book_edit label {
    display: inline-block;
    float: left;
    clear: left;
    // width: 150px;
    // text-align: right;
    font-size: 1em;
		}

.book_edit input {
  display: inline-block;
  float: left;
	}

