#missing:before {
    font-family: FontAwesome;
    content: "\f071";
    font-size: 1.1rem;
    padding-right: 1.1rem;
    color: $green;}

#storage:before {
    font-family: FontAwesome;
    content: "\f187";
    font-size: 1.1rem;
    padding-right: 1.1rem;
    color: $green;}

#notable:before {
    font-family: FontAwesome;
    content: "\f219";
    font-size: 1.1rem;
    padding-right: 1.1rem;
    color: $green;}

#multiple:before {
    font-family: FontAwesome;
    content: "\f0c5";
    font-size: 1.1rem;
    padding-right: 1.1rem;
    color: $green;}