//basic button styles

.btn, .btn2 {
  font-size: 1.5em;
  background: none;
  border: none;
}

.btn:hover, .btn2:hover, a:hover {
  color: $green;
  border-bottom: 1px solid black;
}

.onward {
  color: green;
}

.retreat {
  color: $orange;
  margin-left: 2em;
}

.retreat:hover {
  color: $red;
}