//basic button styles

.btn {
  font-size: 1.5em;
  background: none;
  border: none;
}

.btn:hover, a:hover {
  color: $green;
  border-bottom: 1px solid black;
}

.go-btn {
  @include little_button($green, $dark_green);
}

.meh-btn {
  @include little_button($med_gray, $darkest_gray);
}

.danger-btn {
  @include little_button($orange, $red);
}
