.main {
	form:not(.button_to) {
	  margin-left:auto;
	  margin-right:auto;

	  max-width: 500px;
	  background: $white;
	  padding: 2rem 2rem 3rem;
	  box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
	  -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
	  h2 {
	    padding: 0px 0px 10px 40px;
	    display: block;
	    border-bottom: 1px solid #F5F5F5;
	    margin: -10px -30px 10px -30px;
	    color: #969696;
		} 
		fieldset {
	    display: block;
	    margin: 0.75rem 0 0.75rem;
	    border: none;
		} 
		label {
	    float: left;
	    width: 20%;
	    text-align: right;
	    padding-right: 10px;
		}
		input[type="text"], input[type="email"], input[type="password"], textarea, select{
	    color: $med_gray;
	    width: 70%;
	    padding: 3px 0px 3px 5px;
	    border: 1px solid $med_gray;
	    background: #fbfbfb;
	    outline: 0;
	    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
		}
		input[type="submit"] {
	    font-size: 1em;
			margin-top: .25em;
			clear: both;
			color: $black;
			float: right;
			border: none;
			padding: .25em;
			background-color: white;
	  }
	  input[type="submit"]:hover {
	  	color: $green;
	  	border-bottom: 1px solid $black;
	  }
		::-webkit-input-placeholder {
    	font-size: 1.25em;
	  	padding-right: .25em;
			}
		:-moz-placeholder {
    	font-size: 1.25em;
	  	padding-right: .25em;
			}
		::-moz-placeholder {
    	font-size: 1.25em;
	  	padding-right: .25em;
		}
		:-ms-input-placeholder {
	  	font-size: 1.25em;
	  	padding-right: .25em;
	  }
		textarea{
	    height:100px;
	    padding: 5px 0px 0px 5px;
		}
		small {
			color: $med_gray;
			float: right;
		}
	}
}
#error_explanation:after {
  content: "";
  display: table;
  clear: both; 
}

#error_explanation li {
		color: $error;
	}
