.left form {
		padding-bottom: 3em;
		}

//search form
.left input[type="submit"] {
		font-size: 2.5em;
		text-align: right;
		}

.left input[type="text"] {
	text-align: right;
	}

//basic button styles

.btn, .btn2 {
	font-size: 1.5em;
	background: none;
	border: none;
	}

.btn:hover, .btn2:hover, a:hover {
	color: #95CB15;
	border-bottom: 1px solid black;
	}

.onward {
	color: green;
	}

.retreat {
	color: #E68A00;
	}

.retreat:hover {
	color: #FF0000;
	}


.main input[type="submit"] {
		font-size: 1.5em;
		padding-left: .25em;
		clear: both;
		color: #AAD544;
		}

// .main input[type="text"] {
// 	width: 80%;
// 	}

input[type="text"], input[type="password"], input[type="email"] {
		width: 7rem;
		height: 2rem;
		border: 1px solid black;
		}

input[placeholder] {
		font-size: 1em;
		color: gray;
		padding-right: .5em;
		}

/*calling this after the plain input styles so they don't overwrite */ 
.main input[type="text"], input[type="password"], input[type="email"] {
		font-size: 1rem;
		height: 1.5rem;
		background: white;
		padding: .25em;
		}

//way to override the user agent background yellow on password autofill?
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: white;
background-image: none;
color: rgb(0, 0, 0);
}

// .main input[type="text"] {
// 		height: 1.5em;
// 		background: white;
// 		padding: .25em;
// 		width: 50%;
// 		min-width: 7em;
// 		}

fieldset {
	padding: 7px 0;
	border: none;
}

fieldset > input {
	float: left;
}

fieldset p {
	clear: both;
	padding: 5px;
}


.book_edit {
  padding: 2em;
	margin: 1em 0 0 0;
  border: 1px black solid; 
  background-color: #F5F5F5;
  }

.book_edit label {
	display: block;
	font-size: 1em;
	text-align: left;
	width: 20%;
	padding-right: 5px;
	float: left;
	font-weight: bold;
}

.book_edit input {
  display: inline-block;
  float: left;
  text-align: left;
	}

.main select {
	width: 80%;
	padding: .25em .5em;
}

.user_edit .btn2 {
	margin-top: 1.7em;
}

.edit_user form {
	margin-top: 3em;
}

.edit_user input {
	margin: 1%;
	display: inline-block;
  float: left;
  vertical-align: baseline;
}

.edit_user {
	margin-top: 3em;
}


.edit_user label {
	font-size: .9em;
	display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  vertical-align: baseline;
  padding: 3px;
	margin: 1% 0;
}

.edit_user i {
	font-size: .7em;
	vertical-align: sub;
}

.left form label {
	visibility: hidden;
}

small {
	font-size: .75em;
	font-weight: normal;
	float: right;
}