

.left form {
		padding-bottom: 3em;
		}

input, button {
		font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif;
		font-weight: bold;
		background: none;
		border: none;
		}

input:hover, button:hover {
	color: #95CB15;
}

.left input[type="submit"] {
		font-size: 2.5em;
		text-align: right;
		}

.main input[type="submit"] {
		font-size: 1.5em;
		padding-left: .25em;
		}

.main input[type="text"] {
		font-size: 1.5em;
		height: 1.5em;
		background: white;
		}

input[type="text"] {
		width: 7em;
		height: 2em;
		/*padding: 1em;*/
		border: 1px solid black;
		text-align: right;
		}

input[placeholder] {
		font-size: 1.5em;
		color: gray;
		padding-right: .5em;
		}

label {
	font-size: 1.5em;
}

.btn2 {
	font-size: 1.5em;
}

.edit_user form {
	margin-top: 3em;
}

.edit_user input {
	padding: 3px;
	margin: 1%;
	display: inline-block;
  float: left;
  vertical-align: baseline;
}


.edit_user {
	margin-top: 3em;
}

.edit_user input[type=submit] {
	// clear: both;
	margin-bottom: 7em;
}

.edit_user label {
	font-size: .9em;
	display: inline-block;
  float: left;
  clear: left;
  width: 175px;
  text-align: right;
  vertical-align: baseline;
  padding: 3px;
	margin: 1% 0;
}

.edit_user i {
	font-size: .7em;
	vertical-align: sub;
}

.left form label {
	visibility: hidden;
}
