@import "variables";
@import "mixins";
 
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif;
}  

* :not(p) {
  font-weight: bold;
}     

a {
  text-decoration: none;
  color: black;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}


/*clearfix*/
.clearfix:after,
.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both; 
}

[class*='column-'] {
  float: left;
  padding-right: .5em;
  width: 100%;
  min-height: 1px; 
  height: 100%;
}

/*removes padding from far right column*/
[class*='column-']:last-of-type {
  padding-right:0;
} 

.main {
  height: 100%;
  padding-top: 2em;
}

/*optional outside gutters*/
/*add padding to grid parent*/
.grid-pad {
  padding: .5em 0 .5em .5em;
}

/*restore right padding to last column*/
.grid-pad > [class*='column-']:last-of-type {
  padding-right: .5em;
}

/*will have columns on screens larger than 30ems*/
@media only screen and (min-width: 30em) {
  .wrapper {
    width: 100%;
    max-width: 1500px; 
    height:100%;
  }
  .column-1 {
    width: 8.56%; 
  }
  .column-2 {
    width: 18.72%;
  }
  .column-3 {
    width: 28.88%;
  }
  .column-4 {
    width: 39.04%;
  }
  .column-5 {
    width: 49.2%;
  }
  .column-6 {
    width: 59.36%; 
  }
  .column-7 {
    width: 69.52%; 
  }
  .column-8 {
    width: 79.68%; 
  }  
  .column-9 {
    width: 89.84%;
  }
  .column-10 {
    width: 100%;
  }
}