/*left side area styles*/
.left-content {
	margin-top: 6rem;
	text-align: right;
	h2 {
		font-size: 2.5em;
		color: $black;
	}
	a:hover {
		color: $green;
		font-size: 110%;
		border: none;
	}
  .large-icon {
    font-size: 2.5rem;
    display: block;
  }
	.large-icon:hover {
		color: $orange;
    font-size: 2.5rem;
  }
  .fa:hover {
    border-bottom: 1px black solid;
  }
}

/*search form*/
.left-content form {
	padding-top: 2em;
  padding-bottom: 3em;
  input[type="submit"] {
	  font-size: 2.5em;
	  text-align: right;
	  background: none;
	  border: none;
	  }
	input[type="submit"]:hover {
	  color: $green;
	}
	input[type="text"] {
	  text-align: right;
	  height: 2em;
	}
	label {
	  visibility: hidden;
	}
}

/*right side styles*/
.column-2 {
  position: relative;
}
span.vertical {
	font-size: 6em;
	color: $lightest_gray;
 	display:inline-block;
	position:fixed;
	top: -.75em;
  transform: rotate(90deg);
 	-webkit-transform: rotate(90deg);
 	-moz-transform:rotate(90deg);
 	transform-origin: bottom left;
}
