@media print {
  header{
    display: none;
  }

  div.right-content{
    display: none;
  }

  div.left-page-content{
    display: none;
  }

  section.main article{
    width: 100%;
    overflow: visible;
  }

  table {
    border: none;
    width: 100%;
  }

  @page {
    margin: 0.5cm;
  }

  .wrapper {
    height: auto;
    overflow: visible;
  }
}