.search {
	margin: 40px 0 10px 45px;
}
.browse {
	margin: 40px 0 10px 45px;
}

.main .search {
	margin: 2em 0;
}

#browse h3 {
	color: #00364A;
	margin: 2% 4%;
}

// .search .btn {
// 	text-transform: uppercase;
// 	background-color: #1764A8;
// 	color: #FFFFFF;
// 	font-weight: bold;
// 	font-size: .7em;
// 	padding: 5px 15px;
// 	border: none;
// }

// .search .btn:hover {
// 	color: #95CB15;
// }

.btn:hover, .btn2:hover {
	color: #95CB15;
}

// .btn:visited {
// 	color: #FFFFFF;
// }


.browse .btn:visited {
	color: #FFFFFF;
}

p {
	margin: 0;
}

