// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.search {
	margin: 40px 0 10px 45px;
}
.browse {
	margin: 40px 0 10px 45px;
}

.search .btn {
	text-transform: uppercase;
	background-color: #1764A8;
	color: #FFFFFF;
	font-weight: bold;
	font-size: .7em;
	padding: 5px 15px;
	border: none;
}

.search .btn:hover {
	color: #95CB15;
}

// .browse a {
// 	text-transform: uppercase;
// 	background-color: #1764A8;
// 	color: #FFFFFF;
// 	padding: 5px 15px;
// 	font-size: .7em;
// }

// .browse .btn:hover {
// 	color: #95CB15;
// }

.browse .btn:visited {
	color: #FFFFFF;
}
