.search {
	margin: 40px 0 10px 45px;
}
.browse {
	margin: 40px 0 10px 45px;
}

#browse h3 {
	color: #00364A;
	margin: 2% 4%;
}

/*left side area styles*/

.left {
		margin-top: 12em;
		text-align: right;
		}

.left h2 {
		font-size: 2.5em;
		color: #000000;
		}


.left a:hover {
	color: #95CB15;
	font-size: 110%;
	border: none;
}

.left .btn:hover {
	border: none;
}


.browse .btn:visited {
	color: #FFFFFF;
}


