body {
	color: #000000;
	font-family: Roboto, sans-serif;
	margin: 0, 15%;
	text-decoration: none;
}

nav {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	height: 30px;
	padding: 1em;
	margin: 0px, 0px;
}

nav a {
	color: white;
}

.btn {
	width: 75px;
	height: 35px;
	background-color: #F6A450;
	color: #ffffff;
	font-size: 1em;
	font-variant: small-caps;
	border: 1px black solid;
}

.btn2 {
	padding: 0.5em;
	background-color: #F6A450;
	color: #ffffff;
	font-size: 1em;
	font-variant: small-caps;
	border: 1px black solid;
}

#main_content {
	margin: 2% 4%;
}

.index {
	width: 80%;
  margin: auto;
}
.index td, .books_index th {
  padding: .75em;
}

.index tr:nth-child(2n) {
	background-color: #FAC0FA;
}

.right {float: right; 
				margin-right: 5%;}

a {text-decoration: none; 
		color: #1A7091;}

a:hover { text-shadow: 1px 1px 2px rgba(42, 185, 247, 0.7);}

nav a:hover { text-shadow: 2px 2px 2px rgba(42, 185, 247, 0.9);}

a.btn2:hover, a.btn:hover  { text-shadow: 2px 2px 2px gray;}

.show {padding: .75em;
            border: 3px #FAC0FA solid; 
            border-radius: 25px;}

.error {background-color: rgba(247, 104, 42, 0.3);
				color: rgba(247, 104, 42, 1);
				border: 2px solid rgba(247, 104, 42, 0.9);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;}

.notice {background-color: rgba(42, 185, 247, 0.3);
				color: rgba(42, 185, 247, 1);
				border: 2px solid rgba(42, 185, 247, 0.9);
				border-radius: 10px;
				padding: .5em; 
				margin: .25em;}