
/*page styles*/

.gray {
		height: 100%;
	  max-height:100%;
	  overflow: auto;
	  background: #D6D6D6;
		}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
    }

h1 {
		color: #9C9C9C;
		font-size: 4.5em;
		text-align: center;
		}

nav {
		float: left;
		width: 100%;
		position: relative;
		}

ul {
		clear: left;
		float: left;
		list-style: none;
		position: relative;
		left: 50%;
		text-align: center;
		margin: 0;
		padding: 0;
		
		}

nav li {
		display: block;
		float: left;
		position: relative;
		right: 50%;
		font-size: .8em;
		padding-left: .75em;
		padding-top: .75em;
		font-weight: 500;
		}

nav li:first-of-type {
	padding-left: 0;
	}

nav li > a:hover {
	color: orange;
	}

nav span {
	color: 	white;
}

.main article {
	margin: 5em 6em;
	height: 100%;
}

.main p {
	margin: 1em 0;
	font-weight: normal;
}

/*left side area styles*/

.left {
	margin-top: 12em;
	text-align: right;

}

.left h2 {
	font-size: 2.5em;
}

.left form {
	padding-bottom: 3em;
}

input {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', sans-serif;
	font-weight: bold;
}

input[type="submit"] {
		font-size: 2.5em;
		font-weight: bold;
		background: none;
		border: none;
}

input[type="text"] {
	width: 7em;
	height: 2em;
	/*padding: 1em;*/
	border: 1px solid black;
	text-align: right;
}

input[placeholder] {
	font-size: 1.5em;
	color: gray;
	padding-right: .5em;
}

.vertical {
	font-size: 6em;
	color: #E8E8E8;
	
}

span.vertical {
						 display:inline-block; 
    					position:relative;
							margin-top: 1.25em;
							margin-left: -.75em;
             -webkit-transform: rotate(90deg);
             -moz-transform:rotate(90deg);
             transform: rotate(90deg);
}



.right {float: right; 
				margin-right: 5%;}


