
.main {
		height: 100%;
	  max-height:100%;
	  overflow-y: auto;
	  overflow-x: hidden;
	  padding-top: 2em;
	  background: $light_gray;
		}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    }

h1 {
		color: $dark_gray;
		font-size: 4em;
		text-align: center;
		text-transform: none;
		}

h2 {
		font-size: 2em;
		color: $med_gray;
		text-transform: none;
		}
h3 {
	font-size: 1em;
}
.ignore-caps {
	text-transform: none;
}

nav {
	float: left;
	width: 100%;
	position: relative;
	ul {
		clear: left;
		float: left;
		list-style: none;
		position: relative;
		left: 50%;
		text-align: center;
		margin: 0;
		padding: 0;
		li {
			display: block;
			float: left;
			position: relative;
			right: 50%;
			font-size: .8em;
			padding-left: .75em;
			padding-top: .75em;
			font-weight: 500;
			&::first-of-type {
				padding-left: 0;
			}
			> a:hover {
				color: #E68A00;
				border-bottom: 1px solid black;
			}
		}
	}
}

.highlighted_text {
	color: $red;
}
.main article {
	margin: 5em 6em;
	height: 100%;
}

.main p {
	margin: 1em 0;
	font-weight: normal;
	text-transform: none;
}

.right {
	float: right;
}

//table links
td, td > a {
	font-weight: normal;
}

td > a:hover {
	color: black;
	border-bottom: 1px solid black;
}



.clear {clear: both;}

.dashboard-links {line-height: 2rem;}
