.main {
	height: 100%;
  max-height:100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem 0;
  background: $light_gray;
  .logo {
  	max-width: 25%;
  	float: left;
  }
  nav{
    display: block;
    padding: .75rem;
    background-color: $lightest_gray;
    ul {
      list-style: none;
      text-align: center;
      li {
        display: inline-block;
        font-size: .8em;
        padding-left: .75rem;
        &::first-of-type {
          padding-left: 0;
        }
        > a:hover {
          color: #E68A00;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

h1 {
  color: $dark_gray;
  font-size: 4em;
  text-align: center;
  text-transform: none;
}

h2 {
  font-size: 2em;
  color: $med_gray;
  text-transform: none;
}

h3 {
  font-size: 1em;
}
.ignore-caps {
  text-transform: none;
}

.highlighted_text {
  color: $red;
}

.main article {
	margin: 4em 2em;
}

.main p {
  margin: 1em 0;
  font-weight: normal;
  text-transform: none;
}

.right {
  float: right;
}

//table links
td, td > a {
  font-weight: normal;
}

td > a:hover {
  color: black;
  border-bottom: 1px solid black;
}

.clear {clear: both;}

.contribution {
  font-weight: normal;
  color: $darkest_gray;
}
