body {
	color: #000000;
	font-family: Roboto, sans-serif;
	margin: 0;
	text-decoration: none;
	background-color: rgb(207, 203, 197);
}

nav {
	background-color: black;
	font-weight: 600;
	color: #ffffff;
	height: 15px;
	padding: 1em;
	margin: 0px, 0px;
	// vertical-align: middle;
	border-bottom: 5px #F6A450 solid;
}

nav a {
	color: #DFE3DC;
}

nav a:visited {
	color: #B8B2A0;
}

nav a:hover {
	color: white;
}

.btn {
	padding: 6px 10px;
	background-color: #F6A450;
	color: #ffffff;
	font-size: 1em;
	border: 1px black solid;
	border-radius: 8px;
}

h1 {
	display: block;
	font-size: 1.9em;
	-webkit-margin-before: 0.4em;
	-webkit-margin-after: 0.3em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	color: #cfcbc5;
}

p {
display: block;
-webkit-margin-before: .75em;
-webkit-margin-after: .75em;
-webkit-margin-start: 25px;
-webkit-margin-end: 0px;
font-size: 1em;
}

a {
	text-decoration: none;
}

#main_content {
	background-color: rgb(48, 127, 189);
	padding: 2px 18px 12px;
	width: 100%;
	height: 20%;
}

#content a {
	padding: 0 10px 0 0;
	color: #1764A8;
	font-weight: bold;
}

#content a:hover {
	color: #A7B5C7;
}

#content {
	// margin-left: 25px;
}

.search {
	margin: 40px 0 10px 45px;
}
.browse {
	margin: 40px 0 10px 45px;
}


