* {
	text-transform: lowercase;
}

.gray {
		height: 100%;
	  max-height:100%;
	  overflow: auto;
	  background: $light_gray;
		}

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
    }

h1 {
		color: $dark_gray;
		font-size: 4.5em;
		text-align: center;
		text-transform: none;
		}

h2 {
		font-size: 2.5em;
		color: $med_gray;
		text-transform: none;
		}


.ignore-caps {
	text-transform: none;
}


nav {
		float: left;
		width: 100%;
		position: relative;
		}

ul {
		clear: left;
		float: left;
		list-style: none;
		position: relative;
		left: 50%;
		text-align: center;
		margin: 0;
		padding: 0;
		
		}

nav li {
		display: block;
		float: left;
		position: relative;
		right: 50%;
		font-size: .8em;
		padding-left: .75em;
		padding-top: .75em;
		font-weight: 500;
		}

nav li:first-of-type {
		padding-left: 0;
		}

nav li > a:hover {
		color: #E68A00;
		border-bottom: 1px solid black;
		}

nav span {
		color: 	white;
		}


.main article {
		margin: 5em 6em;
		height: 100%;
		}

.main p {
		margin: 1em 0;
		font-weight: normal;
		}


/*right side styles*/

.right {
	float: right; 
	// margin-right: 5%;
	}


span.vertical {
	font-size: 6em;
	color: #E8E8E8;
 	display:inline-block; 
	position:absolute;
	top: 5.25em;
	right: 1.65em;
 	-webkit-transform: rotate(90deg);
 	-moz-transform:rotate(90deg);
 	transform: rotate(90deg);
 	transform-origin: top right;
}

//table text 

td, td > a {
	font-weight: normal;
}

td > a:hover {
	color: black;
	border-bottom: 1px solid black;
}