tr.on-loan td {background-color: lighten($darkblue, 25%); color: white;}
tr.on-loan a, tr.on-loan span {color: white;}

tr.missing td, tr.on-loan.overdue td, tr.cannot_borrow td {background-color: lighten($hotpink, 20%);}

td span.on-loan:after {
  font-family: FontAwesome;
  content: "\f05e";
  font-size: 1.1rem;
  padding-left: 20%;}

td span.missing:after {
  font-family: FontAwesome;
  content: "\f071";
  font-size: 1.1rem;
  padding-left: 20%;}

td span.in-storage:after {
  font-family: FontAwesome;
  content: "\f187";
  font-size: 1.4rem;
  padding-left: 20%;}

.pagination { margin-bottom: 8rem;}

.index th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.index th .asc {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/48/Icons-mini-arrow_up.gif);
}

.index th .desc {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/8/8b/Icons-mini-arrow_down.gif);
}

table {
  clear: both;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 90%;
  thead{
    background-color: $dark_gray;
    th {
      padding: 0.75rem;
    }
  }
  tr:hover td{
    background-color:$lightest-gray;
  }
  td{
    vertical-align:middle;
    background-color:$white;
    border-top: 1px solid $dark_gray;
    border-bottom: 1px solid $dark_gray;
    text-align:left;
    padding:0.5rem;
  }
}
// curve corners of table cells, because adding 'collapse' to table makes radius on table not work
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
table thead tr:first-child th:first-child{
 border-top-left-radius: 6px;
}
table thead tr:first-child th:last-child{
  border-top-right-radius: 6px;
}
table tr:last-child td{
  border-bottom: none;
}
