tr.on-loan td {background-color: lighten($darkblue, 25%); color: white;}
tr.on-loan a, tr.on-loan span {color: white;}

tr.missing td, tr.on-loan.overdue td, tr.cannot_borrow td {background-color: lighten($hotpink, 20%);}

td span.on-loan:after {
  font-family: FontAwesome;
  content: "\f05e";
  font-size: 1.1rem;
  padding-left: 20%;}

td span.missing:after {
  font-family: FontAwesome;
  content: "\f071";
  font-size: 1.1rem;
  padding-left: 20%;}

td span.in-storage:after {
  font-family: FontAwesome;
  content: "\f187";
  font-size: 1.4rem;
  padding-left: 20%;}

.pagination { margin-bottom: 8rem;}

.index th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.index th .asc {
  background-image: url(http://png-3.findicons.com/files/icons/2117/nuove/128/2uparrow.png);
}

.index th .desc {
  background-image: url(http://png-3.findicons.com/files/icons/2117/nuove/128/2downarrow.png);
}