tr.on-loan td {background-color: lighten($darkblue, 25%); color: white;}
tr.on-loan a, tr.on-loan span {color: white;}

tr.missing td, tr.on-loan.overdue td, tr.cannot_borrow td {background-color: lighten($hotpink, 20%);}

td span.on-loan:after {
  font-family: FontAwesome;
  content: $on_loan_icon;
  font-size: 1.1rem;
  padding-left: 20%;}

td span.missing:after {
  font-family: FontAwesome;
  content: $missing_icon;
  font-size: 1.1rem;
  padding-left: 20%;}

td span.in-storage:after {
  font-family: FontAwesome;
  content: $storage_icon;
  font-size: 1.4rem;
  padding-left: 20%;}

.pagination:last { margin-bottom: 8rem;}

table th .asc:after {
  font-family: FontAwesome;
  content: "\f062";
  padding-left: 1rem;}

table th .desc:after {
  font-family: FontAwesome;
  content: "\f063";
  padding-left: 1rem;}

table {
  clear: both;
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 90%;
  thead{
    background-color: $dark_gray;
    th {
      padding: 0.75rem;
    }
  }
  tbody tr.complete td{
    background-color:$lightest-gray;
  }
  tr:hover td{
    background-color:$lightest-gray;
  }
  td{
    vertical-align:middle;
    background-color:$white;
    border-top: 1px solid $dark_gray;
    border-bottom: 1px solid $dark_gray;
    text-align:left;
    padding:0.5rem;
  }
}
// curve corners of table cells, because adding 'collapse' to table makes radius on table not work
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
table thead tr:first-child th:first-child{
 border-top-left-radius: 6px;
}
table thead tr:first-child th:last-child{
  border-top-right-radius: 6px;
}
table tr:last-child td{
  border-bottom: none;
}

.form-table {
    tr:last-child td:first-child {
    border-bottom-left-radius: 0px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 0px;
  }
  thead{
    border: 0rem;
    tr:first-child th:first-child {
      border-top-left-radius: 0px;
    }
    tr:first-child th:last-child {
      border-top-right-radius: 0px;
    }
    th {
      background-color: $lightest-gray;
      padding: .5rem;
      text-align:left;
      font-size: 0.85em;
    }
  }
  tbody {
    td {
      border: 0rem;
      background-color: $lightest-gray;
      vertical-align: center;
    }
  }
  .primary-radio-cell {
    width: 2rem;
    padding: .5rem .5rem .5rem 0rem;
    vertical-align: right;
    text-align: center;
  }
  .add-remove-author-cell {
    width: 2rem;
    vertical-align: left;
    text-align: center;
    padding: .5rem 0rem .5rem .5rem;
  }
}
