// table style
.index {
	width: 80%;
  margin: 2.5em auto;
  padding-top: 2%;
  border: 1px black solid; 
  background-color: #F5F5F5;
}
.index td, .books_index th {
  padding: .75em;
}

.index tr:nth-child(2n) {
	background-color: #EBEBEB;
}
