#username {
	color: #666666;
}

.show {
	padding: .75em;
	margin-top: 2.0em;
	margin-bottom: 1em;
	width: 85%;
  border: 1px black solid; 
  background-color: #F5F5F5;
}

.show > ul {
	float: none;
	list-style: none;
	position: static;
	text-align: center;
	margin: 0;
	padding: 0;
	text-align: left;
}