<%= form_tag({controller: "reports", action: "build_report"}, method: 'post', id: "reports-form") do %>
  <select id="report-selector" name="report">
    <option></option>
    <option value="book-popularity">Book Popularity</option>
  </select>

</form>

<% end %>
