<form id="reports-form">
  <select id="report-selector">
    <option></option>
    <option value="book-popularity">Book Popularity</option>
  </select>

</form>

<h2>Report</h2>

<table id="report-results">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td><%= link_to b.title, book_path(b) %></td>
      </tr>
    <% end %>
  </tbody>
</table>